<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.constructionsite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".firstpageafterLogin.AdminActivity"
            android:label="@string/admin"/>
        <activity
            android:name=".firstpageafterLogin.SupervisorActivity"
            android:label="@string/engineer" />
        <activity android:name=".Login.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".secondpagepofadmin.correspondingAllSites"
            android:launchMode="singleTask"
            android:parentActivityName=".firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.constructionsite.firstpageafterLogin.AdminActivity" />
        </activity>
        <activity
            android:name=".AddSite"
            android:label="@string/createnewsite"
            android:parentActivityName=".firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.constructionsite.firstpageafterLogin.AdminActivity" />
        </activity>
        <activity android:name=".Labor" />
        <activity
            android:name=".sitereport"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Equipment"/>
        <activity android:name=".ToDoList"/>
        <activity android:name=".Requirement"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <activity android:name=".EngineerDeletePage"
            android:label="@string/engineer"
            android:parentActivityName=".firstpageafterLogin.AdminActivity">

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.admin.constructionsite.firstpageafterLogin.AdminActivity" />
        </activity>
    </application>


</manifest>