<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.svjadhavcontractors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.svjadhavcontractors.firstpageafterLogin.AdminActivity"
            android:label="@string/admin"
            android:launchMode="singleTask" />
        <activity
            android:name="com.svjadhavcontractors.firstpageafterLogin.SupervisorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.svjadhavcontractors.Login.login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.svjadhavcontractors.secondpagepofadmin.correspondingAllSites"
            android:launchMode="singleTask"
            android:parentActivityName="com.svjadhavcontractors.firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.svjadhavcontractors.firstpageafterLogin.AdminActivity" />
        </activity>
        <activity
            android:name="com.svjadhavcontractors.AddSite"
            android:parentActivityName="com.svjadhavcontractors.firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.svjadhavcontractors.firstpageafterLogin.AdminActivity" />
        </activity>
        <activity android:name="com.svjadhavcontractors.Labor" />
        <activity
            android:name="com.svjadhavcontractors.sitereport"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.svjadhavcontractors.Equipment"
            android:label="Equipment Info"/>
        <activity android:name="com.svjadhavcontractors.ToDoList" />
        <activity android:name="com.svjadhavcontractors.Requirement" />
        <activity
            android:name="com.svjadhavcontractors.Add_Member"
            android:label="@string/addMember"
            android:parentActivityName="com.svjadhavcontractors.firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.svjadhavcontractors.firstpageafterLogin.AdminActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.svjadhavcontractors.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name="com.svjadhavcontractors.EngineerDeletePage"
            android:label="@string/engineer"
            android:launchMode="singleTask"
            android:parentActivityName="com.svjadhavcontractors.firstpageafterLogin.AdminActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.svjadhavcontractors.firstpageafterLogin.AdminActivity" />
        </activity>
        <activity android:name="com.svjadhavcontractors.engineerassignedCity" />
        <activity android:name="com.svjadhavcontractors.eachSiteInEngineer" />
        <activity
            android:name="com.svjadhavcontractors.city"
            android:launchMode="singleTask" />
        <activity
            android:name="com.svjadhavcontractors.namewithprogress"
            android:launchMode="singleTask" />
        <activity
            android:name="com.svjadhavcontractors.Table"
            android:label="Today" />
        <activity android:name="com.svjadhavcontractors.Uptodate_Table"
            android:label="UpToDate"/>
    </application>

</manifest>